
<div class="navbar-space"></div>

<nav>
    <div class="canvas-container" id="navbar-dual-canvas">
        <!-- Small canvas for computation (hidden) -->
        <canvas class="compute-canvas" width="1000" height="400"></canvas>
        
        <!-- Large canvas for display -->
        <canvas class="render-canvas" width="2000" height="800"></canvas>
    </div>

    <h2 class="section-title">/navbar</h2>

    <div class="nav-links">
        <a href="{{ url_for('index') }}" class="nav-link {% if active_page == 'home' %}active{% endif %}">Home</a>
        <a href="/about" class="nav-link {% if active_page == 'about' %}active{% endif %}">About</a>
        <a href="{{ url_for('projects') }}" class="nav-link {% if active_page == 'projects' %}active{% endif %}">Projects</a>
        <!-- <a href="{{ url_for('contact') }}" class="nav-link {% if active_page == 'contact' %}active{% endif %}">Contact</a> -->
    </div>
</nav>

<script src="{{ url_for('static', filename='contour.js') }}"></script>

<script>

    var f = (x, y) => {
        return x*x * Math.sin(x + y)
    }

    

    var frameCount = 0;
    var fps, fpsInterval, startTime, now, then, elapsed;

    
    var zValues = [
        [-10, 0.1],
        [-9, 0.1],
        [-8, 0.1],
        [-7, 0.1],
        [-6, 0.1],
        [-5, 0.1],
        [-4, 0.1],
        [-3, 0.1],
        [-2, 0.1],
        [-1, 0.1],
        // [0, 0.1],
        [1, 0.1],
        [2, 0.1],
        [3, 0.1],
        [4, 0.1],
        [5, 0.1],
        [6, 0.1],
        [7, 0.1],
        [8, 0.1],
        [9, 0.1],
        [10, 0.1],
        // [0, Infinity],
    ];
    
    // drawDualCanvas(conn, f, windowSize, zValues, minZ=-1, maxZ=1, colorgradient)
    drawDualCanvas(document.getElementById("navbar-dual-canvas"), f, [-5, 5, -1, 1], zValues, -10, 10, colorgradient_dark_cream); 
</script>